.App{
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  box-sizing: border-box;
  height: 1000px;
}

.addbutton, .back-home{
  margin: 1em;
}

.back-home{
  margin-left: 3em;
}

button{
  padding: 0.8em;
  background-color: #74dbc0;
  border: none;
}

#new-product{
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content:center;

}

#new-product form label{
  width: 700px;

}

#new-product form button{
  width: 700px;
}


.selling-table{
  margin-left: 5em;
}

thead{
  width: 1000px;
}


.addbutton{
  margin-left: 61em;
}

.p-button{
  margin-left: 4em;
}

thead{
  background-color: lightgray;
}

thead tr th{
  padding: 0.75em 4em;
}

tbody tr td{
  padding: 0.75em 4em;
}

.header{
  display: flex;
  flex-direction: row;
  background-color: #74dbc0;
  font-weight: bold;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  margin-bottom: 0.4em;
  justify-content: space-between;
  align-items: center;
}

#image{
  height: 50px;
}
